<ion-view title="" class="mainClass" hide-back-button="true" cache-view="false">
	
    <ion-nav-title>
    	<div align="center">
            <div class="productHeader">
              <div class="productHeaderLeft" >
                    {{"prd_products" | translate}}  : <p>{{TotalProducts}}</p>
              </div>
              <div class="productHeaderRight" >
                    {{"prd_booth" | translate}}   :<p>{{TotalBooth}}</p>
              </div>
            </div>
        </div>
       
    </ion-nav-title>
	
	
   <div class="bar bar-subheader headerDate" style="margin-top:5px;">
  		<div class="title" style="margin-top:0px; padding-top:3px; width:100%; overflow:hidden;">
        	<div style="width:33%; float:left">
                <p class="inputDateProduct">{{"prd_day" | translate}} <span>{{Day}}</span> / {{"prd_month" | translate}} <span>{{Month}}</span> / {{"prd_year" | translate}} <span>{{Year}}</span></p>
            </div>
            <div style="width:33%; float:left">
                <p class="titleAddProduct">{{quotename}}</p>
            </div>
            <div style="width:33%; float:left">
                <p class="titleAddProduct" style="font-weight:200; font-size:15px;"></p>
            </div>
        </div>
	</div>
	
<ion-footer-bar>
    <div class="bar bar-footer"  style="height:80px !important; width:100% !important; background-color:#ebebeb !important; padding:0px !important; margin:0px !important; " align="center" >
     	<div class="bar_footer3" align="center">
        	<div align="center" class="bar_footer3Dv" style="border-right:1px solid #CCC">
            	<div ng-click="myProductsBtn()" class="footerIcon" align="center">
                	<img src="img/footer_icons/i2.png" style="width:50%;"/>
                    <div style="width:100%; margin-top:7px;">{{"prd_prdlist" | translate}} </div>
                </div>
            </div>
            <div align="center" class="bar_footer3Dv" style="border-right:1px solid #CCC">
            	<div ng-click="changeToggles()" class="footerIcon" align="center" >
                	<img src="img/footer_icons/i3.png" style="width:50%;"/>
                    <div style="width:100%; margin-top:7px;">{{"prd_categories" | translate}} </div>
                </div>
            </div>
            <div align="center" class="bar_footer3DvClick">
            	<div ng-click="nextItemBtn()" class="footerIcon" align="center" style="margin-left:3%; ">
                	<img src="img/footer_icons/i4w.png" style="width:50%;"/>
                    <div style="width:100%; margin-top:7px; color:white !important">{{buttonText}}</div>
                </div>
            </div>
        </div>
        <!--
      	<div class="footerIcon3"><a ng-click="myProductsBtn()" ><img src="img/footer_icons/i2.png" style="width:100%;"/><div>{{"prd_prdlist" | translate}} </div></a></div>
        <div class="footerIcon3"><a ng-click="changeToggles()" ><img src="img/footer_icons/i3.png" style="width:100%;"/><div>{{"prd_categories" | translate}} </div></a></div>
        <div class="footerIcon3" ng-class="buttonText == 'Save' ? 'ClickButton' : 'RegularButton'">
        	<a ng-click="nextItemBtn()" >
            	<img ng-if="buttonText == 'Save'" src="img/footer_icons/i4w.png" style="width:100%;"/>
                <img ng-if="buttonText != 'Save'" src="img/footer_icons/i4.png" style="width:100%;"/>
            	<div>{{buttonText}}</div>
            </a>
        </div> -->
		<!--
        <div class="footerIcon duplicateButton"><a ng-click="editProductBtn()" ><img src="img/footer_icons/i5.png" style="width:100%;"/><div>{{EditText}}</div></a></div>
		-->
    </div>	
</ion-footer-bar>


<ion-content  class="has-footer has-subheader" has-footer="true"  >
	<div style="margin-left:30px; margin-top:5px; overflow:hidden; width:50%; float:left">
                    <p ng-click="changeLanguage('{{selectedLanguage}}')" style="color:#ff7b00; text-align:right; font-weight:bold; padding-left:5px; margin-top:15px; font-size:18px; float:left">{{selectedLanguageCap}} | </p>
                    <p ng-click="changeLanguage('ch')">
                        <img  src="img/china_icon.png" style="width:40px; float:left; margin-top:18px; margin-left:4px;" />
                    </p>
         </div>
	 <div class="smallTextProduct" style="width:100%; overflow:hidden;" align="left" >
                    <p ng-class="fields.booth ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_supplier" | translate}}  </p>
                    <div ng-class="fields.booth ? 'inputTextDivSmall' : 'inputTextDivSmallNonActive'"  align="">
                        <div class="inputTextProductActive">
                            <input ng-class="fields.booth ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"   ng-model="fields.booth"  type="text" placeholder=""  ng-readonly="isEdit" ng-change="changeSupplier()" tabindex="1" auto-next required autocomplete="off" />
                           <!-- <img src="img/textbox.png" style="width:103.5%" /> -->
                        </div>
                    </div>
                    <div class="inputTextDivImage" align="left" >
                        <img src="img/name_card.png" ng-if="!cardImage" style="width:120%; margin-right:20px; margin-top:10px;" ng-click="takePicture(1,2)" />
						<img src="{{host}}/{{cardImage}}" ng-if="cardImage" style="width:90%;">
                    </div>
         </div>
	<div style="width:100%; overflow:hidden">
      <!--   <div style="margin-left:30px; margin-top:5px; overflow:hidden; width:50%; float:left">
                    <p ng-click="changeLanguage('{{selectedLanguage}}')" style="color:#ff7b00; text-align:right; font-weight:bold; padding-left:5px; margin-top:15px; font-size:18px; float:left">{{selectedLanguageCap}} | </p>
                    <p ng-click="changeLanguage('ch')">
                        <img  src="img/china_icon.png" style="width:40px; float:left; margin-top:18px; margin-left:4px;" />
                    </p>
         </div> -->
         <div style="width:13%; float:right; margin-top:10px;">
                	<img src="img/gallery_icon.png" style="width:80%" ng-click="CameraOption(2)" />
         </div>
    </div>            
     
   <form name="addproductForm" ng-submit="nextItemBtn()" role="addproductForm" style="padding-bottom:100px;" novalidate>  
   	   
          
        <div style="width:100%; margin:0px 0 15px 0;"  align="center" ng-show="picture_show" align="center">
            <div style="width:100%;  overflow:hidden; margin-top:0px;" align="center">
                <div style="width:80%;  overflow:hidden;" align="center" >
                    <div class="chinaImg">
                        <img  ng-if="firstImage != DeafultUrl" ng-src="{{host}}{{secondImage}}"  style="width:100%;" ng-click="goToSlide(2)" />
                        <p style="color:#f4f4f4">2</p>
                    </div>
                    <div class="chinaImg">
                        <img ng-src="{{host}}{{firstImage}}"  style="width:100%;" ng-click="goToSlide(1)" />
                        <p style="color:#f4f4f4">1</p>
                    </div>
                    <!-- ng-if="secondImage != DeafultUrl" -->
                    <div class="chinaImg"  ng-if="secondImage != DeafultUrl" >
                        <img ng-src="{{host}}{{thirdImage}}"  style="width:100%;" ng-click="goToSlide(3)" />
                        <p style="color:#f4f4f4">3</p>
                    </div>
                    
                   
                    <!--
                    <div style="display:none;">
                        <input type="file" id="fileupload" name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this,'products')">
                    </div>
                    -->
                </div>
               
            </div>
        </div>
        
	<!--
	ng-click="selectBooth(fields.booth)"
	-->
     
     <div class="TextInputs" style="margin-top:-30px;">
        <!-- <div class="smallTextProduct" style="width:100%; overflow:hidden;" align="left" >
                    <p ng-class="fields.booth ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_supplier" | translate}}  </p>
                    <div ng-class="fields.booth ? 'inputTextDivSmall' : 'inputTextDivSmallNonActive'"  align="">
                        <div class="inputTextProductActive">
                            <input ng-class="fields.booth ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"   ng-model="fields.booth"  type="text" placeholder=""  ng-readonly="isEdit" ng-change="changeSupplier()" tabindex="1" auto-next required autocomplete="off" />
                           
                        </div>
                    </div>
                    <div class="inputTextDivImage" align="left" >
                        <img src="img/name_card.png" ng-if="!cardImage" style="width:120%; margin-right:20px; margin-top:10px;" ng-click="takePicture(1,2)" />
						<img src="{{host}}/{{cardImage}}" ng-if="cardImage" style="width:90%;">
                    </div>
         </div>-->
         <div class="TextProduct" ng-show="price_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.price ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_price" | translate}} </p>
                    <div class="inputTextDivProduct" align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.price ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  style="" ng-model="fields.price"  type="tel" placeholder="" ng-readonly="isEdit" tabindex="2" auto-next   autocomplete="off" />
                          <!--  <!--  <img src="img/textbox.png" style="width:100%" /> --> 
                        </div>
                    </div>
         </div>
         <div class="TextProduct" ng-show="qty_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.qty ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_qty" | translate}}  </p>
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.qty ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.qty"  type="tel" placeholder="" ng-readonly="isEdit" tabindex="3" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>

          <div class="TextProduct" ng-show="cbm_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.cbm ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_cbm" | translate}}  </p>					
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                             <input ng-class="fields.cbm ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.cbm"  type="text" placeholder="" ng-readonly="isEdit" tabindex="4" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>

		 
          <div class="TextProduct" ng-show="itemno_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.itemnumber ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_itemno" | translate}}  </p>										
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.itemnumber ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.itemnumber"  type="tel" placeholder=""  ng-readonly="isEdit" tabindex="5" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>		 


          <div class="TextProduct" ng-show="remarks_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.remarks ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_remarks" | translate}}  </p>										
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.remarks ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.remarks"  type="text" placeholder=""  ng-readonly="isEdit" tabindex="6" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

		 
          <div class="TextProduct" ng-show="weight_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.weight ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_weight" | translate}}  </p>										
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.weight ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.weight"  type="tel" placeholder=""  ng-readonly="isEdit" tabindex="7" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

          <div class="TextProduct" ng-show="supno_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.supno ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_super" | translate}}  </p>										
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.supno ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.supno"  type="text" placeholder=""  ng-readonly="isEdit" tabindex="8" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>			 
         
          <div class="TextProduct" ng-show="desc_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.desc ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_desc" | translate}}  </p>										
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.desc ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.desc"  type="text" placeholder="" ng-readonly="isEdit" tabindex="9" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>		

          <div class="TextProduct" ng-show="size_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.size ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_size" | translate}}  </p>										
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.size ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.size"  type="text" placeholder=""  ng-readonly="isEdit" tabindex="10" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

          <div class="TextProduct" ng-show="material_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.material ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_material" | translate}}  </p>															
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.material ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.material"  type="text" placeholder="" ng-readonly="isEdit" tabindex="11" auto-next  autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	
		 
          <div class="TextProduct" ng-show="stock_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.stock ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{"prd_stock" | translate}}  </p>															
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.stock ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.stock"  type="text" placeholder="" ng-readonly="isEdit" tabindex="12" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

          <div class="TextProduct" ng-show="custom_show" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.custom ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{Custom_Field1}} </p>															
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.custom ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.custom"  type="text" placeholder="" ng-readonly="isEdit" tabindex="13" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

          <div class="TextProduct" ng-show="custom_show2" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.custom2 ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{Custom_Field2}} </p>	
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.custom2 ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.custom2"  type="text" placeholder="" ng-readonly="isEdit" tabindex="14" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

          <div class="TextProduct" ng-show="custom_show3" style="width:100%; overflow:hidden" align="left">
                    <p ng-class="fields.custom3 ? 'inputTitleProductOrange' : 'inputTitleProduct'" >{{Custom_Field3}} </p>	
                    <div class="inputTextDivProduct"  align="">
                        <div class="inputTextActive">
                            <input ng-class="fields.custom3 ? 'inputTextDivProductActive' : 'inputTextDivProductReg'"  ng-model="fields.custom3"  type="text" placeholder="" ng-readonly="isEdit" tabindex="15" auto-next autocomplete="off" />
                            <!--  <img src="img/textbox.png" style="width:100%" /> -->
                        </div>
                    </div>
         </div>	

		 
		 
         
     </div>
     
     
   <!-- <div style="width:100%; margin-top:400px;" align="center">
	
    	<div>
             <div class="Input" style="width:80%;" ng-show="prdname_show">
                     <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="productname" id="productname" name="productname" type="text" placeholder="Product Name" />

             </div>
        </div>
    -->
	
	<!--
		<div style="padding-top:10px;" class="supplierRow">
        	<p>Booth : </p>
		<div class="supplierbutton" style="width:50px;" ng-click="selectBooth()"></div>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input    class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="fields.booth" id="phoneInput" type="text" placeholder="Booth" ng-readonly="editable" required />
             </div>
        </div>	
	
	
			<div style="padding-top:10px;" class="supplierRow">
		<div class="supplierbutton" style="width:50px;" ></div>
       <a class="button icon-right ion-edit button-royal"  style="width:80%;"  ng-click="selectBooth(fields.booth)">Booth: {{fields.booth}} {{blankbooth}}</a>
        </div>	
		
		
	
        <div style="padding-top:10px;" ng-show="price_show" class="supplierRow">
        	<p>Price : </p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
             <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.price" id="phoneInput" type="number" placeholder="Price" ng-readonly="isEdit" tabindex="1" auto-next required />
             </div>
        </div>
        
      
     <div style="padding-top:10px;" ng-show="qty_show" class="supplierRow">
     		<p>QTY/ctn : </p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
             <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.qty" id="phoneInput" type="number" placeholder="QTY/ctn" ng-readonly="isEdit" tabindex="2" auto-next/>
             </div>
        </div>


     <div style="padding-top:10px;" ng-show="cbm_show" class="supplierRow">
     		<p>CBM/ctn :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
             <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.cbm" id="phoneInput" type="text" placeholder="CBM/ctn" ng-readonly="isEdit" tabindex="3" auto-next />
             </div>
        </div>


     <div style="padding-top:10px;" ng-show="itemno_show" class="supplierRow">
     		<p>Item Number :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
             <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.itemnumber" id="phoneInput" type="text" placeholder="Item Number" ng-readonly="isEdit" tabindex="4"  auto-next/>
             </div>
        </div>		
       
	   
     <div style="padding-top:10px;" ng-show="remarks_show" class="supplierRow">
     		 <p>Remarks :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.remarks" id="phoneInput" type="text" placeholder="Remarks" ng-readonly="isEdit" tabindex="5" auto-next/>
             </div>
        </div>	
		
		

  <div style="padding-top:10px;" ng-show="weight_show" class="supplierRow">
  			 <p>Weight :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.weight" id="phoneInput" type="text" placeholder="Weight" ng-readonly="isEdit" tabindex="6" auto-next />
             </div>
        </div>	
		
		  <div style="padding-top:10px;" ng-show="supno_show" class="supplierRow">
		  <p>Super No :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.supno" id="phoneInput" type="text" placeholder="Sup item No" ng-readonly="isEdit" tabindex="7" auto-next />
             </div>
        </div>	
		
		  <div style="padding-top:10px;" ng-show="desc_show" class="supplierRow">
		  <p>Description :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.desc" id="phoneInput" type="text" placeholder="Description" ng-readonly="isEdit" tabindex="8" auto-next />
             </div>
        </div>	
		
		  <div style="padding-top:10px;" ng-show="size_show" class="supplierRow">
		  <p>Size :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.size" id="phoneInput" type="text" placeholder="Size" ng-readonly="isEdit" tabindex="9" auto-next />
             </div>
        </div>	
		
		  <div style="padding-top:10px;" ng-show="material_show" class="supplierRow">
		  <p>Material :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.material" id="phoneInput" type="text" placeholder="Material" ng-readonly="isEdit" tabindex="10" auto-next />
             </div>
        </div>	
		
		  <div style="padding-top:10px;" ng-show="stock_show" class="supplierRow"> 
		  <p>Stock :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.stock" id="phoneInput" type="text" placeholder="Stock"  ng-readonly="isEdit" tabindex="11" auto-next />
             </div>
        </div>	
		
		  <div style="padding-top:10px;" ng-show="custom_show" class="supplierRow">
		  <p>{{Custom_Field1}} :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.custom" id="phoneInput" type="text" placeholder="{{Custom_Field1}}" ng-readonly="isEdit" tabindex="12" auto-next />
             </div>
        </div>	

		  <div style="padding-top:10px;" ng-show="custom_show2" class="supplierRow">
		  <p>{{Custom_Field2}} :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.custom2" id="phoneInput" type="text" placeholder="{{Custom_Field2}}" ng-readonly="isEdit" tabindex="13" auto-next />
             </div>
        </div>			


		  <div style="padding-top:10px;" ng-show="custom_show3" class="supplierRow">
		  <p>{{Custom_Field3}} :</p>
             <div ng-class="isEdit ? 'InputDisabled' : 'Input'">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.custom3" id="phoneInput" type="text" placeholder="{{Custom_Field3}}" ng-readonly="isEdit" tabindex="14" auto-next />
             </div>
        </div>			

 
<!--<div style="padding-top:0px; margin-top:-30px;"></div>	

	<div align="center" style="display:inline; padding-top:0px;">
		<button class="button button-royal" ng-click="prevItemBtn()">PREV ITEM</button>
	</div>
	
	
	<div align="center" style="display:inline; padding-top:10px;">
  <div class="button button-positive" ng-click="saveProductBtn()">NEXT ITEM</div>    
</div>


	<div align="center" style=" padding-top:10px;">
	<button class="button button-balanced" ng-click="myProductsBtn()">MY PRODUCTS</button>
</div>


       </div> --> 
       
      

     <div class="row" style="padding-top:10px;">
	 <!--
         <div ng-click="saveProductBtn()" style="width:40%; margin-left:10px;"> 
            <a class="button icon-left ion-ios-download-outline button-positive"  style="width:100%;">Save</a>
         </div>
	-->
       
    </div>
	<div ng-show="showsubmit" style="direction:ltr;">
	<p>uploading image , please wait...</p>
	</div>
    <!-- <div class="row" align="center" style="margin-top:5px;">
	
            <div ng-click="prevItemBtn()"  style="width:40%; margin-left:10px;">
			
                <a class="button icon-left ion-ios-rewind button-balanced"  style="width:100%;" >Prv Item</a>
				
				<!--
				<input type="submit" value="Prv Item" ng-disabled="addproductForm.$invalid || showsubmit" style="width:100%;" class="button icon-left ion-ios-rewind button-balanced" >
			
            </div>
			
            <div   style="margin-left:30px; width:40%;" >
				<input type="submit" value="{{buttonText}}" ng-disabled="addproductForm.$invalid || showsubmit" style="width:100%;" class="button icon-left ion-ios-rewind button-assertive" >
            </div>
    </div>
	
	    <div class="row" align="center" style="margin-top:5px;">
	
            <div ng-click="myProductsBtn()"  style="width:40%; margin-left:10px;">
               <a class="button icon-right ion-star button-calm" style="width:100%;" >My Products</a>
            </div>
			
            <div  ng-click="changeToggles()" style="margin-left:30px; width:29%;" >
               <a class="button icon-right button-calm" style="width:100%;" >Add Info</a>
            </div>
    </div>


	    <div class="row" align="center" style="margin-top:5px;">
	
            <div  ng-click="editProductBtn()" style="width:80%; margin-left:10px;">
			<!--
			<input type="submit" value="Edit" ng-disabled="addproductForm.$invalid || showsubmit" style="width:100%;" class="button icon-right ion-edit button-royal" >
		
	
			<a class="button icon-right ion-edit button-royal" style="width:100%;" >{{EditText}}</a>

            </div>
			

    </div>
<!--
	 <div class="row" align="center" style="margin-top:5px;">
		  <div  ng-click="myProductsBtn()" align="center" style="margin-left:0px; width:40%;">
            <a class="button icon-right ion-star button-calm" style="width:100%;" >My Products</a>
         </div>
		 
		 <div   style="margin-left:30px; width:40%;" >
		 
		  <div  ng-click="myProductsBtn()" align="center" style="margin-left:0px; width:40%;">
            <a class="button icon-right ion-star button-calm" style="width:100%;" >My Products</a>
       
 </div>
 -->
 </form>
 
 
 
 	 <script id="image-modal.html" type="text/ng-template">
     
			<div> 
			 <div style="width:100%; height:{{screenHeight}}px; background-color:white">
				<ion-slide-box active-slide="myActiveSlide" >
					  <ion-slide >
						<img src="{{host}}/{{firstImage}}" style="width:100%" />
						</ion-slide >  
					  <ion-slide >
						<img src="{{host}}/{{secondImage}}" style="width:100%" />
						</ion-slide >  
					  <ion-slide >
						<img src="{{host}}/{{thirdImage}}" style="width:100%" />
						</ion-slide >  						
				</ion-slide-box>
			</div>
				<div class="row" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
					 <button ng-click="closeImageModal()"  class="button icon-chevron-left ion-close button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" >
					  Close
					</button>
				
					<button class="button icon-chevron-right ion-trash-a button-block button-assertive col col-40" style="margin-left:0px; direction:rtl; margin-right:2px" ng-click="deleteImage()">
					  Delete
					</button>
				
				</div>
		   </div>
			
			
     </script>
	 
	 
</ion-content>



	
</ion-view>
