<!-- <div class="bar bar-subheader">
    <div class="list">
      <div class="item item-input-inset">
        <label id="inputSearch"  class="item-input-wrapper">
          <input id="searchInput" ng-model="quotesSearch" type="text" placeholder="Search Customer"/>
        </label>
      </div>
    </div>
</div> class="has-subheader"-->




 <ion-view  title="<p class='HeaderTitleCenter'>{{'customers_customers' | translate}} </p> " >

	
	
<ion-content class="mainClass" ng-controller="customersCtrl" >

  <div align="center" style="margin-top:20px;" >
   
   <div style="padding-bottom:10px;"></div>
   
   
         <div style="width:70%;" ng-click='addCustumer()'>
                	<div  class="chinaBtn">
					+ {{'customers_addnew' | translate}} 
					</div>
            		
         </div>
          
				      <div style="margin-top:5%; margin-bottom:10%">
							<div  ng-repeat="row in customers" >
							<div id="CodeSelectDv">
						
						  <div id="UserInfoQR_customers" >
                            	<!--<div id="UserInfoImg">
                                	<img src="{{imagePath}}/{{row.image}}" style="width:100%" />
                                </div>-->
                                <div ng-click="selectCustumer(row.id,row.name,row.system,$index)" ng-class = "row.isClicked == 1 ? 'ActiveCircle':'NonActiveCircle'" style="width:15%;">
                                    <div style="width:35px; height:35px; margin-top:30px;"></div>
                                </div>
                           </div>
						   <!--
                           <div id="userLine">
                           		<img src="img/new_user/line.png" style="width:100%" />
                           </div>
							-->
                        <!--  <a href="#/app/custumermanage/{{row.id}}/">  -->
						  <div id="UserInfoCode" ng-click="selectCustumer(row.id,row.name,row.system,$index)">
                                <div id="UserInfoText" style="font-weight:bold;">{{row.name}}</div>
								<div id="UserInfoText" style="font-size:15px;">{{'customers_company' | translate}} : {{row.company}}</div>
								<div id="UserInfoText" style="font-size:15px;">{{'customers_products' | translate}} : {{row.products}}</div>

							<!--	</a> -->
								</div>
								<div id="codeBtns">
									<div ng-click='editCustomer(row.id)'><img src="img/pencil.png" style="width:100%" /></div>
							<!--		<button ng-if="row.system == 0" class="button button-icon icon ion-ios-trash-outline" ng-click='deleteCustomer(row.id,row.name)'></button> -->
				

				<!--
									<div id="editCode" ng-click='editCustomer(row.id)'>
                                		<img src="img/new_user/edit.png" style="width:100%" />
                                	</div>
									<div id="DeleteCode" ng-click='deleteCustomer(row.id,row.name)'>
                                		<img src="img/new_user/delete.png" style="width:100%" />
                                	</div>
							 -->
								</div>
							</div>
							
                            <div>
                        			<img src="img/line.png" style="width:100%" />
                        	</div>
							
						</div>
					</div>
        
				
		
</div>			
</ion-content>				
</ion-view>
