<div ng-controller="LanguagesCtrl">


<ion-view hide-back-button="true" title="<p class='HeaderTitleCenter'>{{'menu_languages' | translate}} </p> " >

	<!--
   <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="BackSaveChanges()" >
    <i class="icon ion-ios-arrow-back"></i>
    {{'toggles_back' | translate}} </button>
    </ion-nav-buttons>
	-->
	

<ion-content  class="mainClass" style="margin-bottom:30px;">  

	

	<div style="">
	</div>
			
    <div  ng-repeat="item in LanguagesArray" style="padding-bottom:0px; z-index:1; position:relative; top:35px; background-color:green; overflow:hidden">
            <div class="toogle" style=" "> 
               <div class="tooglLeft">
                    <!-- {{'toggles_itemno' | translate}}  -->
                    {{item.name}}
               </div>
               <div ng-class = "item.selected == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="selectLanguage($index,item.short)">
                   <div></div>
               </div>
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>	

</ion-content>		



</ion-view>
<ion-footer-bar>
     <div class="bar bar-footer" style="background-color:#ff7a00; height:70px;">
      <div class="title FooterToogle" ng-click="saveLanguage()"><img src="img/save_icon.png" style="width:25px; padding-right:10px;" />{{'toggles_save' | translate}} </div>
     </div>
</ion-footer-bar>
</div>