<ion-modal-view>

<!--<div class="bar bar-subheader">
    <div class="list">
      <div class="item item-input-inset">
        <label id="inputSearch"  class="item-input-wrapper">
          <input id="searchInput" ng-model="productSearch" type="text" placeholder="Search Products"/>
        </label>
      </div>
    </div>
</div>


  <ion-header-bar>
    <h1 class="title">My Products</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>-->
  
 <!--  <ion-nav-title>
    	<div align="center">
            <div class="productHeader">
              <div class="productHeaderLeft" >
                    PRODUCTS : <p>22</p>
              </div>
              <div class="productHeaderRight" >
                    BOOTH :<p>33</p>
              </div>
            </div>
        </div>
       
    </ion-nav-title>
    
     <div class="bar bar-subheader headerDate" style="margin-top:5px;">
  		<div class="title" style="margin-top:0px; width:100%; overflow:hidden;">
        	<div style="width:33%; float:left">
                <p class="inputDateProduct">D<span>22</span> / M<span>33</span> / Y<span>12</span></p>
            </div>
            <div style="width:33%; float:left">
                <p class="titleAddProduct">shay</p>
            </div>
            <div style="width:33%; float:left">
                <p class="titleAddProduct" style="font-weight:200; font-size:15px;">quotename</p>
            </div>
        </div>
	</div> -->
	
    
  <ion-content ng-controller="Products" style="background-color:#ebebeb" >
					<div class="modalHead">
                    	<img src="img/bar.jpg" style="width:100%" />
                        <div class="modalBar">
                            <div class="modalBack" ng-click="closeModal()">
                                <img src="img/modal/back.png"  />
                            </div>
                            <div class="modalInfo">
                                {{"prd_booth" | translate}} : <br />{{TotalBooth}}
                            </div>
                            <div class="modalInfo1">
                                {{"prd_products" | translate}} : <br />{{TotalProducts}}
                            </div>
                             <div class="modalSearch">
                                 <img src="img/modal/search.png" style="width:100%" />
                            </div>
                             <div class="modalMenu">
                                 <img src="img/modal/menu.png" style="width:100%" />
                            </div>
                        </div>
                    </div>
					<div class="headerModal">
                        <div class="title" style="margin-top:0px; width:100%; overflow:hidden;">
                            <div style="width:33%; float:left">
								<p class="inputDateProduct">{{"prd_day" | translate}} <span>{{Day}}</span> / {{"prd_month" | translate}} <span>{{Month}}</span> / {{"prd_year" | translate}} <span>{{Year}}</span></p>
                            </div>
                            <div style="width:33%; float:left">
                            </div>
                            <div style="width:33%; float:left">
								<p class="titleAddProduct">{{quotename}}</p>
                            </div>
                        </div>
                    </div> 
					<!-- ng-click='productsCsv()' -->
  					<div ng-click="sendCsvBtn()">
                    	<img src="img/xls.png" style="width:100%"  />
                    </div>
					<!--<div id="sendCsv" ng-click='productsCsv()' align="center">
						<img src="img/main/csvexport.gif" >
					</div>		
					
					<div ng-click="sendCsvBtn()" ng-show="showexcel"  align="center">
					send csv
					</div>-->
			
				      <div style="margin-top:1%; margin-bottom:10%">
                      <div  ng-repeat="row in products | filter:productSearch">
						<div id="CodeSelectDv" style="height:70px;">
						
						  <div id="UserInfoQR" >
                            	<div ng-click='editPrd($index)' id="UserInfoImg">
                                	<img src="{{imagePath}}/{{row.image1}}" style="width:100%" />
                                </div>
                           </div>
						   
                          
						 
                        <!--  <a href="#/app/custumermanage/{{row.id}}/">  -->
						  		<div ng-click='editPrd($index)' id="UserInfoCode" >
                                    <div class="UserTitleText">{{"prd_price" | translate}} :{{row.price}}</div>
                                    <div class="UserInfoText" style="margin-top:0px">{{"prd_itemno" | translate}} : {{row.itemnumber}}</div>
                                    <div class="UserInfoText">{{"prd_qty" | translate}} : {{row.qty}}</div>
                                    <!-- <div class="UserInfoText">{{"prd_cbm" | translate}} : 12</div> -->
								</div>
                                 <div ng-click='editPrd($index)' id="UserInfoCode" >
                                    <div class="UserTitleText">Supplier: {{row.booth}}</div>
                                    <div class="UserInfoText" style="margin-top:0px">{{"prd_cbm" | translate}} : {{row.cbm}}</div>
                                    <div class="UserInfoText">Market : {{row.market_name}}</div>
                                   <!--  <div class="UserInfoText">Tel:167564543</div> -->
								</div>
								<div id="codeBtns" align="right" ng-click='editPrd($index)'>
                                	<img src="img/pencil.png" style="width:100%" />
									<div id="editProduct"  >
                                		
                                	</div>
								<!--
									<div id="deleteProduct" >
										<input type="checkbox" ng-model="row.excel" ng-show="showexcel"  value="{{row.id}}" ng-click="CheckBoxClicked()">
										<button class="button button-icon icon ion-ios-trash-outline" ng-click='deletePrd(row.id,row.title)'></button>

                                	</div> -->
								</div>
                                
							</div>
                           <img src="img/line.png" style="width:100%" />
						</div>
					</div>
        
       
        
  </ion-content>
  <!--
  	<ion-footer-bar>
  <div class="title">
	<button ng-click="newproductBtn()"  class="button button-full button-royal">NEW PRODUCT</button>
  </div>
</ion-footer-bar>-->


</ion-modal-view>
