<ion-view title="Catagories" >
<ion-content ng-controller="DashBoard">

  <div align="center" >
   
   <div style="padding-bottom:10px;"></div>
   
                <div style="width:50%;" ng-click='logout()'> (logout)
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>
				
	
                   <div style="width:50%;" ng-click='addCatagory()'> (add new catagory)
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>	
				
				
				
				
				
				      <div style="margin-top:1%; margin-bottom:10%">
					<div  ng-repeat="row in catagories" >
						<div id="CodeSelectDv">
							
                           <div id="userLine">
                           		<img src="img/new_user/line.png" style="width:100%" />
                           </div>
                          <a href="#/app/products/{{row.id}}"> 
						  <div id="UserInfoCode">
                                <div id="UserInfoText" style="font-weight:bold;">{{row.title}}</div>
                                <div id="UserCodeText"  style="font-size:15px; margin-top:-4px;">כמות מוצרים : {{row.prdcount}}</div>
								</a>
								</div>
								<div id="codeBtns">
									<div id="editCode" ng-click='editCat(row.id)'>
                                		<img src="img/new_user/edit.png" style="width:100%" />
                                	</div>
									<div id="DeleteCode" ng-click='deleteCat(row.id,row.title)'>
                                		<img src="img/new_user/delete.png" style="width:100%" />
                                	</div>
								</div>
							</div>
						</div>
					</div>
        
				
				
				
			
</div>			
</ion-content>				
</ion-view>
