<ion-view title="<p class='HeaderTitleCenter'>{{'markets_page'| translate}}</p>">


<ion-content class="mainClass">  

	
     <div align="center" style="margin-top:20px;" >
   
   <div style="padding-bottom:10px;"></div>
   
   
         <div style="width:70%;" ng-click="openOther()">
              <div  class="chinaBtn"> + {{'markets_addnew' | translate}} </div>
         </div>
          
		 <div style="margin-top:5%; margin-bottom:10%">
		 	<div   >
				<div id="CodeSelectDv" style="margin-bottom:0px; padding-bottom:0px;">	
                    <div id="UserInfoQR_customers" style="background-color:red;" ng-click="changeChoice(-1)" >
                          <div ng-class = "yiwuClicked == 1 ? 'ActiveCircle':'NonActiveCircle'" style="width:15%;">
                              <div style="width:35px; height:35px; margin-top:2px;"></div>
                          </div>
                     </div>
						  
                     <div id="UserInfoCode" ng-click="selectCustumer(row.id,row.name,row.system)" style="margin-top:0px;">
                          <div id="UserInfoText" style="font-weight:bold; margin-top:6px;">{{'markets_yiwu' | translate}} </div>
                     </div>
					 <!-- <div id="codeBtns" style="margin-top:5px;">
						  <div ng-click='editCustomer(row.id)'><img src="img/pencil.png" style="width:100%" /></div>
					 </div> -->
				</div>
				<div style="margin-top:-10px; margin-bottom:4px;">
                     <img src="img/line.png" style="width:100%; " />
                </div>
			</div>		 
		 
		 	<div  ng-repeat="row in markets" >
				<div id="CodeSelectDv" style="margin-bottom:0px; padding-bottom:0px;">	
                    <div id="UserInfoQR_customers" style="background-color:red;" ng-click="changeChoice($index,row.id)" >
                          <div ng-class = "row.isClicked == 1 ? 'ActiveCircle':'NonActiveCircle'" style="width:15%;">
                              <div style="width:35px; height:35px; margin-top:2px;"></div>
                          </div>
                     </div>
						  
                     <div id="UserInfoCode" ng-click="selectCustumer(row.id,row.name,row.system)" style="margin-top:0px;">
                          <div id="UserInfoText" style="font-weight:bold; margin-top:6px;">{{row.marketname}}</div>
                     </div>
					 <!-- <div id="codeBtns" style="margin-top:5px;">
						  <div ng-click='editCustomer(row.id)'><img src="img/pencil.png" style="width:100%" /></div>
					 </div> -->
				</div>
				<div style="margin-top:-10px; margin-bottom:4px;">
                     <img src="img/line.png" style="width:100%; " />
                </div>
			</div>
		</div>
</div>			








	<div style="margin-top:75px;">
	</div>
	<!-- <button  ng-click="openOther()" class="button button-full button-balanced">{{'markets_add' | translate}} </button>

			
<div class="list" style="padding-bottom:40px; position:relative;">

        <label class="item item-radio" >
          <input type="radio"  value="0" data-ng-model="choice.group" checked="checked">
          <div class="item-content"  style="background-color:#fff;">
            {{'markets_yiwu' | translate}} 
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

       

        <label class="item item-radio" ng-repeat="item in markets">
          <input type="radio" value="{{item.id}}" data-ng-model="choice.group">
          <div class="item-content"  style="background-color:#fff;">
            {{item.marketname}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        


			
      </div> -->
	



<!--
	<div class="bar bar-footer bar-balanced" ng-click="saveChanges()">
  <div class="title">SAVE</div>
</div> 	 
-->

<!--
	<div class="bar bar-footer bar-balanced" style="margin-top:25%;" ng-click="saveMarket()">
  <div class="title">SAVE</div>
</div> 	 
-->


</ion-content>		




  <!--	<ion-footer-bar>
		<div class="button-bar">
			<button type="submit"  ng-click="saveMarket()" ng-disabled="custumerForm.$invalid || showsubmit" class="button button-full button-positive">{{'markets_save' | translate}} </button>
		</div>
	</ion-footer-bar> -->
	<ion-footer-bar>
     <div class="bar bar-footer" style="background-color:#ff7a00; height:70px;">
      <div class="title FooterToogle"  ng-click="saveMarket()"><img src="img/save_icon.png" style="width:25px; padding-right:10px;" />{{'toggles_save' | translate}} </div>
     </div>
</ion-footer-bar>
		
</ion-view>
