<!--<div class="bar bar-subheader">
    <div class="list">
      <div class="item item-input-inset">
        <label id="inputSearch"  class="item-input-wrapper">
          <input id="searchInput" ng-model="productSearch" type="text" placeholder="Search Products"/>
        </label>
      </div>
    </div>
</div>-->
<ion-view title="Products" >
  <ion-content ng-controller="Products">
  					<div class="headerModal" style="margin-top:20px;">
                        <div class="title" style="margin-top:0px; width:100%; overflow:hidden;">
                            <div style="width:33%; float:left">
								<p class="inputDateProduct">{{"prd_day" | translate}} <span>{{Day}}</span> / {{"prd_month" | translate}} <span>{{Month}}</span> / {{"prd_year" | translate}} <span>{{Year}}</span></p>
                            </div>
                            <div style="width:33%; float:left">
                            </div>
                            <div style="width:33%; float:left">
								<p class="titleAddProduct">{{quotename}}</p>
                            </div>
                        </div>
                    </div> 
                    
                    <div ng-click="sendCsvBtn()">
                    	<img src="img/xls.png" style="width:100%"  />
                    </div>
                    
                    
                     <div style="margin-top:1%; margin-bottom:10%">
                      <div  ng-repeat="row in products | filter:productSearch">
						<div id="CodeSelectDv" style="height:70px;">
						
						  <div id="UserInfoQR" >
                            	<div ng-click='SelectProduct($index)' id="UserInfoImg">
                                	<img src="{{imagePath}}/{{row.image1}}" style="width:100%" />
                                </div>
                           </div>
						   
                          
						 
                        <!--  <a href="#/app/custumermanage/{{row.id}}/">  -->
						  		<div ng-click='SelectProduct($index)' id="UserInfoCode" >
                                    <div class="UserTitleText">{{"prd_price" | translate}} :{{row.price}}</div>
                                    <div class="UserInfoText" style="margin-top:0px">{{"prd_itemno" | translate}} : {{row.itemnumber}}</div>
                                    <div class="UserInfoText">{{"prd_qty" | translate}} : {{row.qty}}</div>
                                    <!-- <div class="UserInfoText">{{"prd_cbm" | translate}} : 12</div> -->
								</div>
                                 <div ng-click='SelectProduct($index)' id="UserInfoCode" >
                                    <div class="UserTitleText">Supplier: {{row.booth}}</div>
                                    <div class="UserInfoText" style="margin-top:0px">{{"prd_cbm" | translate}} : {{row.cbm}}</div>
                                    <div class="UserInfoText">Market : {{row.market_name}}</div>
                                   <!--  <div class="UserInfoText">Tel:167564543</div> -->
								</div>
								<div id="codeBtns" align="right" ng-click='editPrd($index)'>
                                	<img src="img/pencil.png" style="width:100%" />
									<div id="editProduct"  >
                                		
                                	</div>
								<!--
									<div id="deleteProduct" >
										<input type="checkbox" ng-model="row.excel" ng-show="showexcel"  value="{{row.id}}" ng-click="CheckBoxClicked()">
										<button class="button button-icon icon ion-ios-trash-outline" ng-click='deletePrd(row.id,row.title)'></button>

                                	</div> -->
								</div>
                                
							</div>
                           <img src="img/line.png" style="width:100%" />
						</div>
					</div>
                    
  <div align="center" style="margin-top:60px;">
   
   <div style="padding-bottom:10px;"></div>
   
   
   
  <!--
				
	<div id="sendCsv" ng-click="showExcelBtn()">
		<img src="img/main/csvexport.gif" >
	</div>

	
	<div ng-click="sendCsvBtn()" ng-show="showexcel">
	send csv
	</div>
	
	
	
	
	  <div style="margin-top:7%; margin-bottom:10%" >
					<div  ng-repeat="row in products | filter:productSearch" >
						<div id="CodeSelectDv" style="height:70px;">
							
						  <div id="UserInfoQR" >
                            	<div ng-click='SelectProduct($index)' id="UserInfoImg">
                                	<img src="{{imagePath}}/{{row.image1}}" style="width:100%" />
                                </div>
                           </div>
						
                          <div ng-click='SelectProduct($index)'> 
						  <div id="UserInfoCode">
                                <div id="UserInfoText" style="direction:ltr;" style="font-weight:bold;">{{row.title}}</div>
								<div id="UserInfoText" style="direction:ltr;" style="color:#000;">Price: {{row.price}}</div>
								<div id="UserInfoText" style="direction:ltr;" style="color:#000;">Quantity: {{row.quan}}</div>

								</div>
								</div>
								<div id="codeBtns">
								<div id="editProduct" >
								<input type="checkbox" ng-model="row.excel" ng-show="showexcel"  value="{{row.id}}" ng-click="CheckBoxClicked()">

								<button class="button button-icon icon ion-ios-trash-outline"  ng-click='deletePrd(row.id,row.title)'></button>
								 <!--
								 <input type="checkbox" ng-model="row.excel" value="{{row.id}}" ng-click="CheckBoxClicked()">
								 -->
                                 	 <!--
								</div>
								
								</div>
							</div>
                            <div>
                        		<img src="img/new_user/codeline.png" style="width:100%" />
                        	</div>
						</div>
                       
					</div>

				-->
				
			
			
</div>			
</ion-content>	

	<ion-footer-bar>
  <div class="title">
	<button ng-click="newproductBtn()"  class="button button-full button-royal">NEW PRODUCT</button>
  </div>
</ion-footer-bar>

	
</ion-view>
