<div class="bar bar-subheader">
    <div class="list">
      <div class="item item-input-inset">
        <label id="inputSearch"  class="item-input-wrapper">
          <input id="searchInput" ng-model="productSearch" type="text" placeholder="Search Products"/>
        </label>
      </div>
    </div>
</div>
<ion-view title="Products Export" >
  <ion-content ng-controller="Products">
  <div align="center" style="margin-top:60px;">
   
   <div style="padding-bottom:10px;"></div>
   
   <!--
                   <div style="width:50%;" ng-click='logout()'>
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>
	-->		
	<!--
                   <div style="width:50%;" ng-click='addProduct()'>(add product)
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>	
	-->			
				
	<div id="sendCsv" ng-click='productsCsvBtn()'>
		<img src="img/main/csvexport.gif" >
	</div>		
	<!--
	<button  class="button button-positive" ui-sref="app.quotes">
	 My Quotes
	</button>
	-->
	
	  <div style="margin-top:7%; margin-bottom:10%" >
					<div  ng-repeat="row in products | filter:productSearch" >
						<div id="CodeSelectDv" style="height:70px;">
							
						  <div id="UserInfoQR" >
                            	<div ng-click='SelectProduct($index)' id="UserInfoImg">
                                	<img src="{{imagePath}}/{{row.image1}}" style="width:100%" />
                                </div>
                           </div>
						   
						   <!--
                           <div id="userLine">
                           		<img src="img/new_user/line.png" style="width:100%" />
                           </div>
						   -->
						   
                          <div ng-click='SelectProduct($index)'> 
						  <div id="UserInfoCode">
                                <div id="UserInfoText" style="direction:ltr;" style="font-weight:bold;">{{row.title}}</div>
								<div id="UserInfoText" style="direction:ltr;" style="color:#000;">Price: {{row.price}}</div>
								<div id="UserInfoText" style="direction:ltr;" style="color:#000;">Quantity: {{row.quan}}</div>

								</div>
								</div>
								<div id="codeBtns">
								<div id="editProduct" >
								<!--
								<button class="button button-icon icon ion-ios-trash-outline" ng-click='deletePrd(row.id,row.title)'></button>
								-->
								 <input type="checkbox" ng-model="row.excel" value="{{row.id}}" ng-click="CheckBoxClicked()">
								</div>
								<!--
									<div id="editProduct" ng-click='editPrd(row.id)'>
                                		<img src="img/new_user/edit.png" style="width:100%" />
                                	</div>
								-->
								<!--
									<div id="deleteProduct" ng-click='deletePrd(row.id,row.title)'>
                                		<img src="img/new_user/delete.png" style="width:100%" />
                                	</div>
								-->
								</div>
							</div>
                            <div>
                        		<img src="img/new_user/codeline.png" style="width:100%" />
                        	</div>
						</div>
                       
					</div>

				
				
			
			
</div>			
</ion-content>	

	<ion-footer-bar>
  <div class="title">
	<button ng-click="newproductBtn()"  class="button button-full button-royal">NEW PRODUCT</button>
  </div>
</ion-footer-bar>

	
</ion-view>
