<ion-view title="Edit Quote" class="mainClass" >
<ion-content ng-controller="quotesEditCtrl" style="margin-top:5px;">

<form name="QuotesForm"  role="QuotesForm" novalidate>

	   <div style="width:100%" align="center">
    	<div>
            <div class="Input">
                     <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="quotename" id="phoneInput" type="text" placeholder="Quote Name" required />
             </div>
        </div>
		
		<div style="width:80%;">
		<button ng-click="updateQuoteBtn()" ng-disabled="QuotesForm.$invalid" class="button button-block button-positive">Update</button>
		</div>
		
		<!--
		
		   <div style="width:70%;" ng-click='editCatagory()'>
                	<div style="position:absolute; left:25%;" class="chinaBtn">
					EDIT CATAGORY
					</div>
            		<img src="img/main/btn.jpg" style="width:100%" />
         </div>
		-->
		
			   <div style="width:70%;" ng-click='editMarket()'>
                	<div style="position:absolute; left:25%;" class="chinaBtn">
					EDIT MARKET
					</div>
            		<img src="img/main/btn.jpg" style="width:100%" />
         </div>
		
		
		</div>
 
 </form>
</ion-content>				
</ion-view>
