
<!--
 <ion-side-menu-content  edge-drag-threshold="true" drag-content="false">
 </ion-side-menu-content>
-->

<ion-view title="{{navTitle}}" hide-back-button="true" hide-nav-bar="false" class="navBarHeader">

 <ion-nav-bar class="bar-dark" >
    <ion-nav-back-button class="button-icon icon  ion-chevron-left">
    	
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <div style="margin-right:12px; margin-top:5px;" ng-click='LoginBtn()'>
          	<p style="color:white; text-align:right; font-weight:bold; padding-left:5px; margin-top:15px; font-size:18px;">{{'register_login' | translate}}  </p>
       </div>
    </ion-nav-buttons>
	
     <ion-nav-buttons side="left">
        <div style="margin-right:12px; margin-top:5px;">
                <p ng-click="changeLanguage('{{selectedLanguage}}')" style="color:white; text-align:right; font-weight:bold; padding-left:5px; margin-top:0px; font-size:18px; float:left">{{selectedLanguageCap}} | </p>
				<img ng-click="changeLanguage('ch')" src="img/china_icon_white.png" style="width:40px; float:left; margin-top:0px; margin-left:4px;" />  
       </div>
    </ion-nav-buttons>
</ion-nav-bar>

		
<ion-content ng-controller="RegisterController" class="mainClass">  
  <div align="center" style="padding-top:25px;">
  					<div class="userType" align="center">
                        {{'register_usertype' | translate}}  
                    </div>
					
                    <div class="registenCircle">
                    	<div ng-class = "register.type == 0 ? 'ActiveCircle':'NonActiveCircle'" align="center" ng-click="changeRegisterType(0)">
                        	<div></div>
                            <p>{{'register_buyer' | translate}} </p>
                        </div>
                        <div ng-class = "register.type == 1 ? 'ActiveCircle':'NonActiveCircle'" align="center" ng-click="changeRegisterType(1)">
                        	<div></div>
                            <p>{{'register_supplier' | translate}} </p>
                        </div>
                    </div>
                    
                    <div class="inputTextDiv" align="center">
                    	<div class="inputTextActive">
                        	<p class="inputTitle">{{'register_email' | translate}} </p>
                            <img src="img/mail_icon.png" class="inputIcon" />
                        	<input class="InputType"  ng-model="register.email" id="emailInput" type="email" placeholder=""  autocomplete="off"  style="border-buttom:3px solid #666 !important;"/>
                            <!--<img src="img/textbox.png" style="width:100%" />-->
                        </div>
                    </div>
                    
                    <div class="inputTextDiv" align="center">
                    	<div class="inputTextActive">
                        	<p class="inputTitle">{{'register_password' | translate}} </p>
                            <img src="img/pass_icon.png" class="inputIcon" style="width:5%; margin-left:3px; margin-top:0px;" />
                        	<input class="InputType"  ng-model="register.password"  type="password" placeholder=""  autocomplete="off" />
                             <!--<img src="img/textbox.png" style="width:100%" />-->
                        </div>
                    </div>
                    
                    <div class="terms">
                    	{{'register_terms' | translate}} 
                    </div>
                    
                    <div class="startButton" ng-click='doRegister()'>
                    	<img src="img/start.png" style="width:100%"
                    </div>
					<!--
                     <div class="Input">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="register.name" id="phoneInput" type="text" placeholder="Type in Your name" autocomplete="off" />
                    </div>

				<!--
                    <div class="Input" style="margin-top:200px;">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="register.email" id="emailInput" type="email" placeholder="Type in Your Email"  autocomplete="off"/>
                    </div>
					
					
					
                    <div class="Input">
						<div class="InputText" >
							<div style="width:100%; overflow:hidden;">
								<div style="float:right;">
									<input type="text" ng-model="register.phone" id="phoneInput" type="tel" placeholder="Type in Your Phone"  autocomplete="off"  style="border:none; text-align:center; outline:0;">
								</div>
								<div style="float:left;">
									<select ng-model="register.areacode">
										<option value="050" ng-selected="true">050</option>
										<option value="052">052</option>
										<option value="053">053</option>
										<option value="054">054</option>
										<option value="055">055</option>
										<option value="058">058</option>
									</select>
								</div>
							</div>
						</div>	
                    </div>

                     <div class="Input">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="register.password" id="phoneInput" type="password" placeholder="Type in Your password" autocomplete="off" />
                    </div>

                     <div class="Input">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="register.repassword" id="phoneInput" type="password" placeholder="Type in Your password again" autocomplete="off"  />
                    </div>

					<div>
					User Type:
						<p><input type="radio" name="type" value="0" ng-model="register.type">Buyer</p>
						<p><input type="radio" name="type" value="1" ng-model="register.type">Supplier</p>
					</div>
				   
                	 <li class="item item-checkbox" style="background-color:transparent; text-align:left; color:black; margin-top:20px;">
                       
                       By registering you agree to the terms
  					</li>
				
  
                <div style="margin-bottom:10%;"></div>
                
                <div style="width:70%;" ng-click='doRegister()' >
                	<div style="position:absolute; left:35%;"   class="chinaBtn">
                    	REGISTER
                    </div>
            		<img src="img/main/btn.jpg"  style="width:100%" />
                </div>
				
				
				 <div style="width:70%;" ng-click='LoginBtn()' >
                	<div style="position:absolute; left:40%;"   class="chinaBtn">
                    	LOGIN
                    </div>
            		<img src="img/main/btn.jpg"  style="width:100%" />
                </div>
				
			-->	
			
</div>			
</ion-content>				
</ion-view>
